# Every file in the repo requires review from @JulesLiu390.
# See https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners
*	@JulesLiu390
