@import "tailwindcss";

/* 添加 Tailwind v4.0 自定义 Utility */
@utility draggable {
    -webkit-app-region: drag;
  }
  
@utility no-drag {
-webkit-app-region: no-drag;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}